// CAPSL Configuration File
//  Trust-Hub BasicRSA Trojans: T100, T200, T300, T400

BasicRSA.def{
  ds           : input,
  ready        : input,
  reset        : input,
  inExp        : input-vector(RSAKeySize),
  inMod        : input-vector(RSAKeySize),
  inData       : input-vector(RSAKeySize),

  cypher       : output-vector(RSAKeySize),

  transitions{
    s0:ds>s1,       // ds asserted to signal inputs ready
    s1:!ready>s2,   // ready goes low
    s2:!ds>s3,      // ds goes low
    s3:ready>s0     // ready asserted when finished and prepared for next inputs
  }
}


logic.def{

  // RSA KeySize
  RSAKeySize = 2048,


  // Checking for plaintext key leaks
  logic0 : cypher == inExp,


  // Checking for T100 trigger case
  logic1 : inData == x"44444444",


  // Checking for T200 trigger case
  logic2 : inData == x"01FA0301",

  // T300, T400 Trigger counter
  logic3 : ds == '1',
  counter1 : counter {
    on: logic3,
    start: x"00000000",
    end: x"FFFFFFFF"
  }


  // Illegal conditions
  prohibited{
    {logic0},                      // Restrict key leaks of T100, T200, T300
    {logic1 | logic2 | counter1},  // Restrict T100, T200, T300, T400 triggers
  }
}
