//  Sandbox Specification File Template
//   Note: config file should be limited to one item per line, like this
//         template. Closing brackets should be on their own line.

<IP_name>.def{
  // Signal types: input, output
  <signal_name> : <signal_type>,  // Interface ports
  <vector_name> : <signal_type>(<length>),

  transitions{
    s0         : <signal_name>  : s<integer>, // s0 always initial state
    s<integer> : !<signal_name> : s<integer>,
  },

  resources{
    <resource_name> : { <option_name> : <option_setting> }
  }
}

system.def{
  <signal_name> : <signal_type>,  // Sandbox interface ports

  transitions{
    s<integer> : <signal_name> : s<integer>,
  }
}

logic.def{
  // Logic operators: and, or, ==, !=
  <signal_name> : <signal_name> <logic_operator> <signal_name>,

  <signal_name> : counter {   // Counter example
    on:     <signal_name>,
    start:  <integer>,
    end:    <integer>
  },

  prohibited{
    { <signal_name> : <signal_name> },            // fusion
    { <signal_name> ; <signal_name> },            // concatenation
    { <signal_name>[ *<integer> ]   },            // kleene star
    { <signal_name>[ =<integer> .. <integer> ] }, // non-consecutive repeat
  }
}
