// CAPSL Configuration File
//  Trust-Hub AES Trojans: T100, T200, T300, T400, T500, T600, T700, T800, T900, T1000

AES.def{
  reset        : input,
  key          : input-vector(AESKeySize),
  state        : input-vector(AESKeySize),

  output          : output-vector(AESKeySize),

  // Some trojans use a capactiance port to leak information. T400 uses
  //  an Antena port to leak via rf transmissions.
  //  Still need to determine how to handle leaks over side channels
  //  -Can we simply not expose the port to the system by not specifying
  //    here in the configuration file? Does this still allow side channel analysis?

  transitions{
    // No transitions are required
  }
}


logic.def{

  // AES KeySize
  AESKeySize = 128,


  // Checking for T400, T600 trigger case
  logic0 : state == x"FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",


  // Used for tracking T500, T800 trigger sequence
  logic1 : xmit_dataH == x"3243F6A8885A308D313198A2E0370734",
  logic2 : xmit_dataH == x"00112233445566778899AABBCCDDEEFF",
  logic3 : xmit_dataH == x"00000000000000000000000000000000",
  logic4 : xmit_dataH == x"00000000000000000000000000000001",


  // Checking for T700, T1000 trigger case
  logic5 : state == x"00112233445566778899AABBCCDDEEFF",


  // T900 Trigger counter
  //  Counts on each encryptionß
  counter1 : counter {
    on: out'event,
    start: x"00000000000000000000000000000000",
    end: x"FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
  }


  // Illegal conditions
  prohibited{
    {logic0 | logic5 | counter1},         // Restrict T400, T600, T700, T900, T1000 triggers
    {logic1 ; logic2 ; logic3 ; logic4}   // Restrict T500, T800 trigger
  }
}
